//<================================================================== FONTS ================================================================>\\

// 100 - Thin (Hairline)
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)

//&display=swap - оптимізація підвантаження шрифта
//&subset=cyrillic-ext - підвантаження кириличної версії

// Змінна font-family
$ff: 'Arial';

// Змінна font-size
$fs: 16px;

// Змінна font-weight
$fw: 400;

// Змінна color
$fc: #000;

//<============================================================== CUSTOM RESET =============================================================>\\

// Максимальна ширина обмежуючого контейнера
$mw: 1920px;

// Фоновий колір для body
$bgc: #fff;

// Обнулення стилів
@import 'reset';

//<================================================================= DEFAULT ===============================================================>\\

body._lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

._cont {
	max-width: $mw + 30px;
	margin: 0 auto;
	padding: 0 15px;
}

//<======================================================== БАГАТОРАЗОВЕ ВИКОРИСТАННЯ ======================================================>\\



//<=================================================================== ХЕДЕР ===============================================================>\\



//<=================================================================== ФУТЕР ===============================================================>\\

